@import '../../styles/variables.scss';

.bookmarkAndHiddenResourcesCollectionContainer {
	margin: 5%;

	.bookmarkAndHiddenResourcesCollection__title {
		font-family: $primary-font;
		letter-spacing: 1px;
		text-align: center;
		font-size: 40px;
		text-shadow: 2px 2px 50px $red;
	}

	.bookmarkAndHiddenResourcesCollection__cardsContainer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 30px;
	}

	.bookmarkAndHiddenResourcesCollection__cardsContainer__noResults {
		font-family: $secondary-font;
		font-size: 15px;
		text-align: center;
		margin: 0 5%;
		line-height: 30px;
	}
}

@media only screen and (max-width: 768px) {
	.bookmarkAndHiddenResourcesCollectionContainer {
		.bookmarkAndHiddenResourcesCollection__cardsContainer {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media only screen and (max-width: 600px) {
	.bookmarkAndHiddenResourcesCollectionContainer {
		.bookmarkAndHiddenResourcesCollection__cardsContainer {
			grid-template-columns: 1fr;
		}
	}
}
