@import '../../styles/variables.scss';

.bookmarkIconContainer {
	position: absolute;
	bottom: 2%;
	left: 5%;

	.bookmarkIconContainer__button-liked {
		font-family: $secondary-font;
		background: #a52d2d;
		border: none;
		border-radius: 5px;
		padding: 6px;
		font-size: 12px;
		color: #fff;
		cursor: pointer;
		transition: ease-in-out 0.4s;
		opacity: 0.9;

		&:hover {
			background: #ff0000;
		}
	}

	.bookmarkIconContainer__button {
		font-family: $secondary-font;
		background: #4b4b4b;
		font-size: 10px;
		border: none;
		border-radius: 5px;
		padding: 5px;
		color: #fff;
		cursor: pointer;
		transition: ease-in-out 0.4s;
		opacity: 0.9;
		filter: grayscale(80%);

		&:hover {
			background: #ff0000;
			filter: grayscale(0%);
		}
	}
}
